.container {
  top: 25px;
  position: relative;
  text-align: center;
}

h3 {
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.EightBall{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 50px auto;
}

.EightBall-text{
  font-size: 20px;
  font-family: arial;
  transform: translate(-50%,-50%);
  position: absolute;
  color: white;
  top: 42%;
  left: 50%;
}

.EightBall-reset {
  width: 100px;
  height: 50px;
  position: relative;
  border-radius: 10px;
  background-color: crimson;
  font-size: 20px
}